<!DOCTYPE html>

<html>
<body style="background: #ffffff">
    <div align="center">
        <img src="~/Content/img/fail.gif">
    </div>
    <h4 style="margin-top: 5px">
        @Html.ActionLink("返回", "Index", "HOTEL_ROOM")
    </h4>
</body>
</html>
