
@{
    ViewBag.Title = "Lu";

}
@ViewBag.button
<h2>Lu</h2>
<body>
    <table id="order" width="300" height="500" style="position:absolute;top:110px;left:500px">
        <tr>
            <td> <span>酒店ID:</span></td>
            <td><input type="text" name="hotel_id" id="hotel_id" /></td>
        </tr>
        <tr>
            <td> <span>顾客姓名:</span></td>
            <td><input type="text" name="cust_name" id="cust_name" /></td>
        </tr>
        <tr>
            <td> <span>联系方式:</span></td>
            <td><input type="text" name="cust_phone" id="cust_phone" /></td>
        </tr>
        <tr>
            <td> <span>身份证号:</span></td>
            <td><input type="text" name="cust_id" id="cust_id" /></td>
        </tr>
        <tr>
            <td> <span>房间号:</span></td>
            <td> <span>房间号</span></td>
        </tr>
        <tr>
            <td> <span>房间类型:</span></td>
            <td> <span>房间类型</span></td>
        </tr>
        <tr>
            <td> <span>房间楼层:</span></td>
            <td> <span>房间楼层</span></td>
        </tr>
        <tr>
            <td> <span>入住时间:</span></td>
            <td> <span>入住时间</span></td>
        </tr>
        <tr>
            <td> <span>离开时间:</span></td>
            <td> <span>离开时间</span></td>
        </tr>
        <tr>
            <td> <span>下预定的时间:</span></td>
            <td> <span>下预定的时间</span></td>
        </tr>
        <tr>
            <td> <span>预付金额:</span></td>
            <td><input type="text" name="money" id="money" /></td>
        </tr>
        <tr>
            <td> <span>增加金额:</span></td>
            <td><input type="text" name="add_money" id="add_money" /></td>
        </tr>
        <tr>
            <td>  <input type="button" id="ok" value="确定"></td>
            <td>  <input type="button" id="cancel" value="取消"></td>
        </tr>
    </table>
</body>


