<!DOCTYPE html>

<html>
<body style="background: #dae6ed">
    <div align="center">
        <img src="~/Content/img/success.gif">
    </div>
    <h4 style="margin-top: 5px">
        @Html.ActionLink("返回","Index","HOTEL_ROOM")
    </h4>
</body>
</html>
