@model IQueryable<hotel_version1._0.HOTEL_ORDER>


@{
    ViewBag.Title = "Details";
}

<h2>客户消费细则</h2>

<div>
    
    <table class="table-1">
        <tr>
            <th>
                订单号
            </th>
            <th>
                入住时间
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHECK_IN_TIME)
                </td>
            </tr>



         
        }
        </table>
</div>
<p class="body-2">
    @Html.ActionLink("Back to List", "Index")
</p>