body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height:100%;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;

font-size: 18px;
font-weight:500;
font-family: Verdana;
color:#475c6f;

}
.dl-horizontal dd {


font-size: 17px;
font-weight:500;
font-family: Verdana;
color: #708DAC;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
