@model IEnumerable<hotel_version1._0.HOTEL_ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>消费记录</h2>

@using (Html.BeginForm("Index", "HOTEL_BILL", FormMethod.Post))
{
    <div class="searchBlock">
        @Html.TextBox("searchString")
        <input type="submit" value="搜索" />
    </div>
}

<table class="table-1">
    <tr>
        <th>
            @using (Html.BeginForm("Sort", "HOTEL_BILL", new { message = "ORDER_ID" }, FormMethod.Post))
            {
                <input type="submit" value="订单号" class="sortInput" />
            }
        </th>
        <th>
            @using (Html.BeginForm("Sort", "HOTEL_BILL", new { message = "SUM" }, FormMethod.Post))
            {
                <input type="submit" value="消费总额" class="sortInput" />
            }
        </th>
        <th>
            @using (Html.BeginForm("Sort", "HOTEL_BILL", new { message = "NAME" }, FormMethod.Post))
            {
                <input type="submit" value="顾客姓名" class="sortInput" />
            }
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.HOTEL_BILL == null)
    {
        break;
    }

    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_ID)
        </td>
        <td>
            @{
                var totalPrice = item.HOTEL_BILL.ROOM_PRICE + item.HOTEL_BILL.SERVICE_PRICE + item.HOTEL_BILL.ITEM_PRICE;

            }
            @totalPrice
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEL_CUSTOMER.NAME)

        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ORDER_ID })
        </td>
    </tr>
}

</table>
